@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 1265px;
    overflow-x: hidden;
    overflow-y: auto;

}

.nav-bar {
    display: flex;
    width: 100%;
    height: 55px;
    background-color: rgb(32, 32, 32);
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-container {
    width: 100%;
    height: 140px;
    background-color: rgb(31, 22, 76);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.header-container h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 0;
    color: white;
}

.header-container h2 {
    margin: 0;
    font-weight: normal;
    color: white;
}

.introduction-container {
    width: 100%;
    height: 450px;
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.introduction-container h1,
.skills-container h1,
.projects-container h1,
.contact-container h1 {
    font-size: 36px;
    margin-bottom: 5px;
}

.introduction-blurb-container {
    width: 65%;
    text-align: left;
    font-size: 18px;
}

.introduction-subcontainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.image-container {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);
}

.portrait-box {
    display: flex;
    width: 70%;
    height: auto;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

}

.skills-container {
    width: 100%;
    height: 500px;
    background-color: rgb(81, 81, 81);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.skills-subcontainer {
    display: flex;
    width: 100%;
    height: 100%;
}

.technical-skills,
.nontechnical-skills {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}


.technical-skills-text {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

p.sub {
    padding-left: 30px;
}

.technical-skills-text p {
    margin: 0;
}

.technical-skills h2,
.nontechnical-skills h2 {
    font-size: 25px;
    margin: 0;
    margin-bottom: 5px;
}

.projects-container {
    width: 100%;
    height: 1250px;
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.project-objects {
    padding-top: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-container {
    width: 100%;
    height: 300px;
    background-color: rgb(81, 81, 81);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.project {
    width: 395px;
    height: 280px;
    background-color: rgb(198, 198, 198);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

}

.project h2 {
    margin-bottom: 0;
}

.img-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.img-box {
    display: flex;
    width: 90%;
    height: 90%;
    border: 2px solid black;
    box-sizing: border-box;
}

.img-box img {
    width: 100%;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);


}

.project:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.project-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 90%;
    background-color: #f6f7fc;
    z-index: 10;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px;
    flex-direction: column;
    overflow-y: overlay;
    border-radius: 10px;
}

.project-popup h1 {
    font-size: 24px;
}

.popup-image-container {
    display: flex;
    min-width: 500px;
    min-height: 300px;
    border: 2px solid black;
    margin-bottom: 20px;
}

.project-text {
    display: flex;
    text-align: left;
    width: 90%;
    flex-direction: column;
}

.project-text p, .project-text ul {
    margin: 0;
    margin-bottom: 5px;
}

.project-text li {
    margin: 0;
}


.project-popup-bg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
    display: none;
    z-index: 20;
    overflow-y: overlay;

}

.github-link {
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}