@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
    --bg: #ffffff;
}

body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 1265px;
    overflow-x: auto;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    color: rgb(39, 39, 39);
    line-height: 1.3;

}

/*
.fadein {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}
*/

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.nav-bar {
    display: flex;
    width: 100%;
    height: 55px;
    background-color: rgb(32, 32, 32);
    top: 0;
    z-index: 2;
    justify-content: flex-end;
    position: sticky;
}

.introduction-container {
    width: 1200px;
    height: 500px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.introduction-container h1,
.skills-container h1,
.projects-container h1,
.contact-container h1 {
    font-size: 36px;
    margin-bottom: 5px;
    font-weight: 600;

}

.introduction-blurb-container {
    width: 65%;
    text-align: left;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}


.introduction-blurb-container p {
    margin-top: 0;
}

.standout {
    font-size: 26px;
    font-weight: 600;
}

.introduction-subcontainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.image-container {
    width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;

}

.image-container img {
    width: 100%;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);
}

.portrait-box {
    display: flex;
    width: 270px;
    height: auto;
}


.skills-container {
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-subcontainer {
    display: flex;
    width: 100%;
    height: 100%;
}

.technical-skills,
.nontechnical-skills {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}


.technical-skills-text {
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.technical-skills-text ul {
    margin: 0;
    margin-bottom: 5px;
}

.technical-skills-text p {
    margin: 0;
}

.technical-skills h2,
.nontechnical-skills h2 {
    font-size: 25px;
    margin: 0;
    margin-bottom: 5px;
    font-weight: 600;

}


.projects-container {
    width: 1200px;
    height: 925px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.project-objects {
    padding-top: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-container {
    width: 100%;
    height: 80px;
    background-color: #e1e1e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.project {
    width: 370px;
    height: 255px;
    background-color: #e1e1e1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.project h2 {
    font-weight: 600;

    margin-bottom: 0;
}

.img-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.img-box {
    display: flex;
    width: 90%;
    height: 90%;
    border: 2px solid black;
    box-sizing: border-box;
}

.img-box img {
    width: 100%;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);


}

.project:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.project-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 90%;
    background-color: #e1e1e1;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: overlay;
}

.project-popup h1 {
    font-size: 24px;
}

.project-popup.p1 {
    max-height: 769px;
}

.project-popup.p2 {
    max-height: 813px;
}

.project-popup.p3 {
    max-height: 718px;
}

.project-popup.p4,
.project-popup.p5 {
    max-height: 550px;
}

.project-popup.p6 {
    max-height: 745px;
}


.project-popup a {
    text-decoration: none;
    color: black;
    font-weight: 600;

}

.image-arrow-container {
    display: flex;
    flex-direction: row;
}

.popup-image-container {
    display: flex;
    min-width: 500px;
    min-height: 281px;
    max-width: 500px;
    max-height: 281px;
    border: 2px solid black;
}

.popup-image-container.mobile {
    min-width: 200px;
    min-height: 340px;
    max-width: 200px;
    max-height: 340px;
}

.popup-image-container img {
    width: 100%;
    height: auto;
    image-rendering: crisp-edges;
}

.arrow-container {
    display: flex;
    height: 285px;
    width: 60px;
    align-items: center;
    justify-content: center;
}

.arrow-container img {
    width: 30px;
    height: auto;
    opacity: 20%;
}

.arrow-container img.active:hover {
    cursor: pointer;
}

.arrow-container img.active {
    opacity: 100%;
}

.project-text {
    display: flex;
    text-align: left;
    width: 90%;
    flex-direction: column;
    font-size: 17px;
}

.project-text p,
.project-text ul {
    margin: 0;
    margin-bottom: 5px;
}

.project-text li {
    margin: 0;
}


.project-popup-bg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
    display: none;
    z-index: 20;
    overflow-y: overlay;

}

.github-link {
    margin-bottom: 10px;
}

.project-popup.p4 .github-link,
.project-popup.p5 .github-link {
    position: absolute;
    bottom: 10px;
}

.icons-container {
    display: flex;
    width: 200px;
    height: 50px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.icons-container img {
    width: 40px;
    height: auto;
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}

.icons-container img:hover {
    -webkit-filter: invert(0%);
    /* Safari/Chrome */
    filter: invert(0%);
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.icons-container a {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
}

.nav-button {
    display: flex;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
}

.nav-button:hover {
    background-color: black;
}

.image-tip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
    font-size: 14px;
    color: gray;
    margin-top: 8px;
    margin-bottom: 10px;

}

.close-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 18px;
    height: auto;
}

.close-icon:hover {
    cursor: pointer;
}

.multiple-links {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}

.info {
    color: white;
    display: flex;
    padding-right: 18px;
    font-size: 18px;
    align-items: center;
    position: absolute;
    left: 60px;
    height: 100%;
}

.info .name {
    font-weight: bold;
    margin-right: 8px;
}

.skills-container, .projects-container {
    scroll-margin-top: 30px;
}

